@import 'shared.mixin'


.header
  background-color $SIDEBAR_BG_COLOR
  border-bottom solid 1px darken($SIDEBAR_BG_COLOR, 5%)
  padding 12px

  h1
    margin 0
    padding 0
    font-weight 700
    font-size 20px
    color darken(white, 70%)
    letter-spacing -0.2px
    display inline-block
    margin-right 5px

  .version
    font-size 10px
    color rgba(0, 0, 0, 0.4)
    position relative
    top 4px
