@import 'shared.mixin'


.method
  > .content-outer
    position relative
    max-width 680px
    margin 0 auto
    padding 0 40px
    > .arguments
      margin-top 50px

  // ---------------------------------

  color darken(white, 65%)
  font-weight 400
  font-size 16px
  line-height 28px

  h1
    color darken(white, 100%)
    font-weight 200
    font-size 32px

  pre
    background $SIDEBAR_BG_COLOR
    border solid 1px darken($SIDEBAR_BG_COLOR, 5%)
    border-radius 4px
    padding 15px 20px
    a
      color $CODE_COLOR
