@import 'shared.mixin'


.method
  > .content-outer
    position relative
    max-width 680px
    margin 0 auto
    padding 0 40px
    > .arguments
      margin-top 50px
    > .section-anchor
      text-decoration none

  // ---------------------------------

  color darken(white, 65%)
  font-weight 400
  font-size 16px
  line-height 28px

  h1
    color darken(white, 100%)
    font-weight 300
    font-size 32px
    padding-top 30px
