@import 'shared.mixin'


body
  font-family 'Source Sans Pro', sans-serif
  font-weight 400
  background-color white

h1, h2
  font-weight 300


a
  text-decoration none
  &:hover
    text-decoration underline


code, pre
  box-sizing  border-box
  color $CODE_COLOR
  font-family 'Source Code Pro', Menlo, monospace
  font-size 13px
  line-height 20px

code
  display inline-block
  padding 0 5px
  background  #fafcfc
  border 1px solid #f0f4f7
  border-radius 4px

pre
  background $SIDEBAR_BG_COLOR
  border solid 1px darken($SIDEBAR_BG_COLOR, 5%)
  border-radius 4px
  padding 15px 20px
  a
    color $CODE_COLOR
