$RED = rgba(255, 0, 0, 0.1)
$SIDEBAR_BG_COLOR = #FAFCFC
$CODE_COLOR = #b93d6a


// ---------------------------------


query-max-width(pixelWidth)
  'only screen and (max-width : ' + pixelWidth + 'px)'

query-min-width(pixelWidth)
  'only screen and (min-width : ' + pixelWidth + 'px)'


NARROW = query-max-width(700)
