@import 'shared.mixin'


.root
  SIDEBAR_WIDTH = 220px

  > .header
    display none
    z-index 999
    @media NARROW
      display block
      position fixed
      left 0px
      top 0px
      right 0px

  > .sidebar
    position absolute
    left 0px
    top 0px
    bottom 0px
    width SIDEBAR_WIDTH
    @media NARROW
      display none


  > .main-outer
    padding-top 30px
    padding-left SIDEBAR_WIDTH + 1
    @media NARROW
      padding-left 0
      padding-top 50px // Account for narrow header.

    color darken(white, 65%)
    font-weight 400
    font-size 16px
    line-height 28px

    h1
      color darken(white, 100%)
      font-weight 200
      font-size 32px

    .main-centered
      position relative
      max-width 760px
      margin 0 auto
      padding 0 40px
