@import 'shared.mixin'


.root
  SIDEBAR_WIDTH = 220px

  > .header
    display none
    z-index 999
    @media NARROW
      display block
      position fixed
      left 0px
      top 0px
      right 0px

  > .sidebar
    position absolute
    left 0px
    top 0px
    bottom 0px
    width SIDEBAR_WIDTH
    @media NARROW
      display none

  // ---------------------------------

  > ul.main-outer
    margin 0
    padding 0
    list-style-type none
    margin-left SIDEBAR_WIDTH + 1
    @media NARROW
      margin-left 0
      margin-top 40px // Account for narrow header.

    > li
      border-bottom solid 1px darken($SIDEBAR_BG_COLOR, 5%)
      padding-top 35px
      padding-bottom 50px
      &:last-child
        border-bottom none
