@import 'shared.mixin'


.sidebar-list
  padding-left 15px

  > .title
    text-transform uppercase
    color rgba(0,0,0,0.2)
    font-size 13px
    font-weight 700
    line-height 30px

  > ul
    margin 0
    padding 0
    padding-left 8px
    list-style-type none

  a
    color rgba(0,0,0,0.7)
    line-height 24px
