@import 'shared.mixin'



.sidebar
  background-color $SIDEBAR_BG_COLOR
  border-right solid 1px darken($SIDEBAR_BG_COLOR, 5%)
  padding-top 55px
  .header
    position absolute
    left 0px
    top 0px
    right 0px
